.navbar .form-control {
    height: 1.8rem;
    padding: 0.25rem;
}

a.list-group-item {
    color: $body-color;
}

.btn-group + .btn-group {
    margin-left: .5rem;
}

// Fancy progress bar text
.progress {
    border: 1px solid #434649;
    position: relative;

    .progress-bar {
        @include text-shadow;
    }

    span {
        position: absolute;
        display: block;
        width: 100%;
    }
}
