.tippy-tooltip.dark-theme {
  background: $tooltip-bg;
  color: $tooltip-color;
  border: 1px solid $tooltip-border-color;
  border-radius: 0;

  .tippy-backdrop {
    background: #000;
    border-radius: 0 !important;
  }
}

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top: 8px solid $tooltip-bg;
}

.tippy-popper[x-placement^=right] .tippy-arrow {
  border-right: 8px solid $tooltip-bg;
}
