.orderhalls-table {
    width: auto;

    .orderhalls-follower {
        width: 62px;
        min-width: 62px;
        padding: 2px 0 3px;
        text-align: center;

        > div {
            position: relative;
            border-width: 0;

            > img {
                border-radius: 50%;
                border-width: 2px;
                width: 40px;
                height: 40px;
            }

            > .follower-level {
                position: absolute;
                bottom: -1px;
                left: 16px;
                width: 30px;
                line-height: 1;
                text-align: center;
                cursor: default;
                pointer-events: none;
                background: #333;
                border: 1px solid;
                border-radius: 6px;
            }
            > .troop-level {
                left: 10px !important;
            }

            > .icon-cancel,
            > .icon-plus,
            > .icon-star {
                position: absolute;
                top: 0;
                right: 0;
                line-height: 1;
                cursor: default;
                pointer-events: none;
                background: #111;
                border: 1px solid;
                border-radius: 50%;
                padding: 1px;
            }

            > .icon-cancel {
                color: #FF0000;
            }
            > .icon-plus {
                color: #00FF00;
            }
            > .icon-star {
                color: #FFFF00;
            }

            > span:before {
                margin: 0;
            }
        }

        > div.faded-missing > img {
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        }
        > div.faded-inactive > img {
            filter: grayscale(100%) brightness(80%);
        }

        > a {
            padding-top: 1px;

            & + a {
                margin-left: 1px;
            }
        }
    }

    .orderhalls-troop {
        width: 48px;
        min-width: 48px;

        div {
            > span {
                color: #ddd;
                letter-spacing: 1px;
                left: 9px;
            }
        }
    }
}

.follower-950 {
    color: #00FFDF;
}
.follower-925 {
    color: #00BFDF;
}
.follower-900 {
    color: @highlight-color;
}
.follower-meh {
    color: #ccc;
}
