.set-panel {
    padding: 15px 15px 15px 0;

    .button-checkbox:first-child {
        margin-left: 15px;
    }
}

.set-spacer {
    display: inline-block;
    width: 12px;
}

#set-shown {
    font-size: 120%;
}

.set-section {
    clear: both;
    padding-top: 3px;

    div {
        border-top: 1px solid @table-border-color;
        border-bottom: 1px solid @table-border-color;
        padding-left: 15px;
        margin: 4px -15px -2px 0;
        font-size: 120%;
        color: #ddd;
        background: #2c2c2c;

        small {
            padding-left: 5px;
            vertical-align: text-bottom;
            font-size: 80%;
            color: #c8c800;
            letter-spacing: 0.1em;
        }
    }
}

.set-box {
    .pull-left;
    margin-left: 15px;

    .set-title {
        margin: 8px 0 4px;
    }
    .set-complete {
        color: #00DF00;
    }

    .set-item {
        display: inline-block;
        position: relative;

        a {
            color: @q0-color;

            img {
                box-sizing: content-box;
                border-style: solid;
                border-width: 2px;
            }
        }

        span {
            position: absolute;
            bottom: 2px;
            right: 2px;
            padding: 1px 2px 0;
            font-family: @font-number;
            color: #EEE;
            background: rgba(0, 0, 0, 0.65);
            line-height: 1;
        }

        &+.set-item {
            margin-left: -2px;
        }
    }

    .set-missing {
        a {
            img {
                opacity: 0.3;
            }
        }
    }
}
