@reputations-categories-width: 160px;

.reputations-spacer {
    .pull-right;
    margin-left: -(@reputations-categories-width);
    width: 100%;
}

.reputations-content {
    margin-left: (@reputations-categories-width + 15);
}

.reputations-container {
    width: 100%;
}

.reputations-categories {
    .pull-right;
    width: @reputations-categories-width;
    position: fixed;
    // Fixes not scrolling on small vertical displays
    overflow: auto;
    top: 56px;
    bottom: 0;
    margin-bottom: 0;

    .list-group-item {
        margin-bottom: 2px;
        padding: 5px 8px;
    }
}

.reputations-table {
    width: auto;
    background: #222;
    border: 1px solid @table-border-color;

    tr.realm-row {
        td:first-child {
            .ellipsis-mixin();
            max-width: 140px;
        }
        td {
            border-top: 1px solid @table-border-color !important;
        }
    }

    .reputations-icon {
        text-align: center;
        white-space: nowrap;
        
        div {
            position: relative;
            border-width: 0;

            span {
                position: absolute;
                bottom: -2px;
                right: -1px;
                line-height: 1;
                cursor: default;
                pointer-events: none;
                background: #111;
                border: 1px solid;
                border-radius: 50%;
                padding: 1px;
            }

            span:before {
                margin: 0;
            }

            .icon-cancel {
                color: #FF0000;
            }
            .icon-ok {
                color: #00FF00;
            }
            .icon-star-half {
                color: #FFFF00;
            }
        }
    }

    .reputations-icon-split {
        img:first-child {
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
        img:last-child {
            clip-path: polygon(100% 100%, 0% 100%, 100% 0);
            margin-left: -37px;
        }
    }

    .reputations-rep {
        text-align: center;
    }
}

.reputation-popover {
    margin-bottom: 0;

    .icon-cancel {
        color: #FF0000;
    }
    .icon-ok {
        color: #00FF00;
    }

    li > span {
        color: #ffff88;
    }
}

.badrep0 { color: #ff2300; }
.badrep1 { color: #ff6035; } 
.badrep2 { color: #ff9770; }
