@achievements-categories-width: 230px;

.achievements-spacer {
    .pull-right;
    margin-left: -(@achievements-categories-width);
    width: 100%;
}

.achievements-content {
    margin-left: (@achievements-categories-width + 15);
}

.achievements-container {
    width: 100%;
}

.achievements-categories {
    .pull-right;
    width: @achievements-categories-width;
    position: fixed;
    // Fixes not scrolling on small vertical displays
    overflow: auto;
    top: 56px;
    bottom: 0;
    margin-bottom: 0;

    .list-group-item {
        margin-bottom: 2px;
        padding: 5px 8px;

        .glyphicon {
            margin-left: 5px;
            padding-top: 1px;
            color: darken(@brand-success, 15%);
            .pull-right;
        }

        .progress {
            margin: 1px 0 0 0;
            height: 8px;
        }

        .completion {
            .pull-right;
        }

        &:first-child {
            margin-bottom: 7px;
        }
    }
}
.achievements-subcat {
    margin-left: 20px;
    background: darken(@list-group-bg, 3%);
}

.achievements-buttons {
    margin: 0 0 7px 0;

    .btn {
        height: 32px;
    }
}

.achievements-summary {
    padding: 15px 15px 5px 0;

    .col-lg-4,
    .col-md-6,
    .col-xs-12
    {
        padding-right: 0;
    }
    .col-xs-12 {
        margin-bottom: 10px;
    }

    .achievements-summary-box {
        margin-bottom: 15px;

        h4 {
            margin: 0 0 4px 0;
            .shadow-mixin();
        }
        .progress {
            margin: 0;
            height: 25px;

            .progress-bar {
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}

.achievements-achievements {
    width: 100%;

    .panel {
        margin-bottom: 7px;
    }
}
.achievement-table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 2px;
    background: @list-group-bg;
    border: 2px solid @list-group-border;

    &.achievement-earned {
        background: rgba(13, 40, 18, 1);
        border-color: lighten(rgba(13, 40, 18, 1), 10%);
    }
    &.achievement-account {
        border-color: rgba(0, 187, 255, 0.45);
    }

    tbody > tr > td {
        white-space: nowrap;
    }

    .achievement-image {
        width: 52px;
        padding: 5px 7px 5px 5px;
        vertical-align: middle;

        img {
            box-sizing: content-box;
            border-width: 2px;
            border-style: solid;
        }
    }
    .achievement-title {
        font-family: @headings-font-family;
        font-weight: @headings-font-weight;
        font-size: @font-size-h4;
        color: lighten(@text-color, 5%);
        .shadow-mixin();
    }
    .achievement-desc {
        .ellipsis-mixin();
    }
    .achievement-points {
        width: 8em;
        padding-right: 5px;
        text-align: right;
        font-family: @headings-font-family;
        font-weight: @headings-font-weight;
        font-size: @font-size-h4;
    }
    .achievement-earned {
        padding-right: 5px;
        text-align: right;
    }
    .achievement-criteria {
        padding: 5px 5px;
        border-top: 1px solid @list-group-border;

        .progress {
            //margin: 4px 0 0 0;
            margin: 0;
            position: relative;

            // span {
            //     position: absolute;
            //     left: 5px;
            //     background: rgba(0, 0, 0, 0.3);
            //     line-height: 1;
            //     margin-top: 3px;
            //     padding: 1px;
            // }

            & + .progress {
                margin-top: 5px;
            }
        }
        .achievement-earned {
            color: rgba(244, 250, 157, 0.87);
        }
        .glyphicon-ok {
            color: @lockout-complete;
        }
        .glyphicon-remove {
            color: @lockout-none;
        }
    }
}

.achievement-criteria-box {
    padding: 0 5px 0 0;
    .ellipsis-mixin();
}
