.currencies-table {
    background: #222222;
    border: 1px solid @table-border-color;

    thead > tr > th {
        text-align: center;

        label {
            margin: 0;

            input {
                margin: -2px 0 0 0;
                vertical-align: middle;
            }
        }
    }
    tbody > tr {
        > td {
            padding: 3px 5px;
        }
        > td:last-child {
            background: transparent;
        }
    }
}
.currencies-value {
    vertical-align: middle !important;
    white-space: nowrap;

    td& {
        text-align: right;

        img {
            margin-left: 5px;
        }

        label {
            margin: 0;
            
            input {
                margin: 0;
                vertical-align: middle;
            }
        }
    }
}
