@progress-categories-width: 160px;

.progress-spacer {
    .pull-right;
    margin-left: -(@progress-categories-width);
    width: 100%;
}

.progress-content {
    margin-left: (@progress-categories-width + 15);
}

.progress-container {
    width: 100%;
}

.progress-categories {
    .pull-right;
    width: @progress-categories-width;
    position: fixed;
    // Fixes not scrolling on small vertical displays
    overflow: auto;
    top: 56px;
    bottom: 0;
    margin-bottom: 0;

    .list-group-item {
        margin-bottom: 2px;
        padding: 5px 8px;
    }
}

.progress-table {
    width: auto;
    background: #222;
    border: 1px solid @table-border-color;

    .colgroup-0,
    .colgroup-1 {
        background-color: #1b1b1b;
    }

    tr.realm-row {
        td:first-child {
            .ellipsis-mixin();
            max-width: 140px;
        }
        td {
            border-top: 1px solid @table-border-color !important;
        }
    }

    .progress-section {
        text-align: center;
    }

    .home-name {
        padding-bottom: 4px;
    }

    .progress-text1,
    .progress-text2 {
        text-align: right;
        vertical-align: middle;
        padding-right: 6px;
        font-size: 110%;
        cursor: default;
        white-space: nowrap;

        img {
            float: left;
            margin-top: 1px;
        }
    }
    .progress-text1 {
        width: 56px;
    }
    .progress-text2 {
        width: 71px;
    }
}

.progress-popover {
    margin-bottom: 0;

    .indent {
        padding-left: 1.4em;
    }
    
    .section {
        color: #d0d8df;
        border-bottom: 1px solid #c0c8cf;

        &:not(:first-child) {
            padding-top: 4px;
        }
    }
}

.progress-research-popover {
     margin-bottom: 0;

     div {
        width: 170px;
        text-align: center;

        img {
            box-sizing: content-box;
        }
        img + img {
            margin-left: 14px;
        }
        img.have {
            border: 1px solid #00ff00;
        }
        img.nohave {
            border: 1px solid #666;
            filter: grayscale(100%) brightness(80%);
        }
     }
     li {
        text-align: center;
     }
     li.researching {
        color: #eee;
     }
     li:not(:first-child) div {
        margin-top: 5px;
     }
}
