.tippy-tooltip {
    background-color: #000 !important;
    color: #ddd !important;
    border: 1px solid #555 !important;
    border-radius: 0 !important;
}

.tippy-backdrop {
    background-color: #000 !important;
}

.tippy-tooltip[data-size=large] {
    font-size: 1.1rem !important;
}
