@font-number: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

@alliance-color: #4A54E8;
@horde-color: #E60D12;

@death-knight-color: #C41F3B;
@druid-color: #FF7D0A;
@hunter-color: #ABD473;
@mage-color: #69CCF0;
@monk-color: #00FF96;
@paladin-color: #F58CBA;
@priest-color: #FFFFFF;
@rogue-color: #FFF569;
@shaman-color: #0070DE;
@warlock-color: #9482C9;
@warrior-color: #C79C6E;

// poor
@q0-color: #9d9d9d;
// common
@q1-color: #ddd;
// uncommon
@q2-color: darken(#1eff00, 12%);
// rare
@q3-color: darken(#0070ff, 5%);
// epic
//@q4-color: darken(#a335ee, 5%);
@q4-color: #B237FF;
// legendary
@q5-color: darken(#ff8000, 8%);
// artifact
@q6-color: darken(#e6cc80, 25%);
// heirloom
@q7-color: darken(#e6cc80, 25%);

@lockout-complete: #00CF00;
@lockout-incomplete: #D4E02F;
@lockout-none: #CC0000;

@highlight-color: #00D400;
@warning-color: #EE0000;

@garrisons-nav-width: 180px;
