{% extends "base.html" %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block extra_js %}
<script type="text/javascript">$('.js-fix input').addClass('form-control');</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 login-col">
      <br>
      <div class="login-social">
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'social:begin' 'bnet-us' %}">{% trans 'Login with Battle.net' %}</a>
      </div>
      <br>
      <form method="post" action="{% url 'login' %}" role="form">
        <fieldset>
          <legend>Legacy Login</legend>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          {% for field in form %}
          <div class="form-group{% if form.errors %} has-error{% endif %} js-fix">
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field|safe }}
            {% if loop.index == 1 and form.errors %}
            <span class="help-block">Your username and/or password are incorrect, please check them and try again.</span>
            {% endif %}
          </div>
          {% endfor %}
        </fieldset>
        <input type="submit" value="{% trans 'Login' %}" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
