.team-table {
    margin: 0 auto 20px;
    table-layout: fixed;

    tbody tr td {
        padding: 1px 0;
        vertical-align: middle;
    }

    .team-name {
        width: 14em;

        .flex-wrap {
            display: flex;
            align-items: center;

            > div + div {
                margin-left: .3rem;
            }
        }

        .team-icons {
            width: 18px;
            white-space: normal;

            div:not(.dropright),
            img {
                box-sizing: content-box;
                border-width: 1px;
                border-style: solid;
                border-radius: 2px;
                border-color: $border-color;
            }

            &:nth-child(2) {
                div:first-child img {
                    border-color: #57d200;
                }
                div:last-child img {
                    border-color: #388601;
                }
            }
        }

        .team-character {

        }
    }

    .team-ail {
        width: 3.5em;
        padding-right: 10px;
        text-align: right;
        vertical-align: middle;
        cursor: default;

        img {
            float: left;
            box-sizing: content-box;
            border: 1px solid #555;
        }
    }
}
