.team-keystone {
    width: 3rem;
    padding: 1px .5rem !important;
    font-size: 1.6rem;
    text-align: right;
    vertical-align: middle;
    cursor: default;
}

.team-mythic {
    width: 48px;
    padding: 1px !important;
    text-align: center;
}
