{% extends "base.html" %}

{% block title %}Create Team{% endblock %}

{% block extra_js %}
    <script type="text/javascript">WoWthing.teams.create_onload();</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Create Team</h2>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Region</label>
                                <div class="col-sm-2">
                                    <select id="region" class="form-control" name="region">
                                        <option value="us">US</option>
                                        <option value="eu">EU</option>
                                        <option value="kr">KR</option>
                                        <option value="tw">TW</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Default realm</label>
                                <div class="col-sm-2">
                                    <select id="realm" class="form-control" name="default_realm"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" name="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="description">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Create team</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
