{% extends "base.html" %}

{% block title %}{{ team.name }} - Teams{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        WoWthing.teams.data={{ json_data|safe }};
        WoWthing.teams.view_onload();
    </script>
{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>[{{ team.region|upper }}] {{ team.name }}</h2>
            <p>{{ team.description }}</p>
          </div>
        </div>

        {% if user.is_authenticated and team.owner == user %}
        <div class="row">
          <div class="col-xs-12">
            <form action="{% url 'teams:add_character' %}" method="POST" class="form-inline team-form">
              {% csrf_token %}
              <input type="hidden" name="team" value="{{ team.id }}">
              <div class="form-group">
                <label for="input-realm">Realm</label>
                <select id="input-realm" name="realm" class="form-control"></select>
              </div>
              <div class="form-group">
                <label for="input-character">Character</label>
                <input id="input-character" name="character" placeholder="Character..." class="form-control">
              </div>
              <div class="form-group">
                <label for="input-note">Note</label>
                <input id="input-note" name="note" placeholder="Note..." class="form-control">
              </div>
              <button type="submit" class="btn btn-default">Add character</button>
            </form>
          </div>
          
          <div class"row">
            <div class="col-xs-12">
              <form action="{% url 'teams:edit_roles' team.id %}" method="POST">
                {% csrf_token %}
                <input id="input-edit-roles" name="changes" type="hidden" value="">
                <button type="submit" class="btn btn-primary">Save role changes</button>
              </form>
              <br>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-xs-12 team-radios team-show">
            <span>Show:</span>
            <label class="radio-inline"><input type="radio" name="radio-show" class="js-radio-show" value="gear" checked> Gear</label>
            <label class="radio-inline"><input type="radio" name="radio-show" class="js-radio-show" value="mythicplus"> Mythic+</label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 team-radios team-groupby">
            <span>Group by:</span>
            <label class="radio-inline"><input type="radio" name="radio-groupby" class="js-radio-groupby" value="none" checked> None</label>
            <label class="radio-inline"><input type="radio" name="radio-groupby" class="js-radio-groupby" value="class"> Class</label>
            <label class="radio-inline"><input type="radio" name="radio-groupby" class="js-radio-groupby" value="primaryrole"> Primary Role</label>
            <label class="radio-inline"><input type="radio" name="radio-groupby" class="js-radio-groupby" value="armortype"> Armor Type</label>
            <label class="radio-inline"><input type="radio" name="radio-groupby" class="js-radio-groupby" value="note"> Note</label>
            <!--<label class="radio-inline"><input type="radio" name="radio-groupby" class="js-radio-groupby" value="tier"> Tier Token</label>-->
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 team-radios team-highlight">
            <span>Highlight:</span>
            <label class="radio-inline"><input type="radio" name="radio-highlight" class="js-radio-highlight" value="none" checked> None</label>
            <label class="radio-inline"><input type="radio" name="radio-highlight" class="js-radio-highlight" value="problems"> Problems</label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12" id="team-box">
          </div>
        </div>
      </div>
{% endblock %}
