.home-overview {
    background: $gray-900;
    border: 1px solid $border-color;
}

.overview-table {
    // The first row only exists to set column widths
    tbody > tr:first-child > td {
        border-width: 0;
        padding: 0;
    }

    .realm-row > .character-currency {
        text-align: center;

        > img {
            float: none;
        }
    }

    .character-level {
        width: 3.3em;
        text-align: right;
    }
    .character-rested {
        width: 3.9em;
    }
    .character-played {
        width: 5.3em;
        text-align: right !important;
        white-space: nowrap;
    }
    .character-ail {
        width: 3.7em;
        padding-right: 8px !important;
        text-align: right;
    }
    .character-gold {
        width: 6em;
        text-align: right;
    }
    .character-azerite {
        width: calc(30px + 2.5em);
        text-align: right;
        cursor: default;
    }
    .character-essences {
        width: 75px;

        div {
            float: left;
            width: 16px;
            height: 16px;
            margin-top: 1px;

            & + div {
                margin-left: 5px;
            }
        }
    }
    .character-profession {
        width: calc(30px + 2.2em);
        padding-right: 8px !important;
        text-align: right !important;
        cursor: default;
    }
    td.character-currency {
        text-align: right;
        padding-left: 6px !important;
        cursor: default;

        div {
            display: inline-block;
            margin-bottom: -5px;
        }
    }
    .character-keystone {
        width: 4.2em;
    }
    .character-keystone-max {
        width: 1.5em;
        padding-left: 0 !important;
        text-align: right;
        cursor: default;
    }
}

.profession-popover {
    td {
        white-space: nowrap;

        &:first-child {
            text-align: right;
        }

        &:last-child {
            text-align: right;

            span {
                display: inline-block;
                width: 1.8em;

                &:first-child {
                    margin: 0 .3em;
                }

                &:last-child {
                    margin-left: .3em;
                }
            }
        }
    }
}
