.sets-container {
    margin-left: 0;

    > .row {
        margin: 1rem 1rem 0 0;
        padding-top: 1rem;
        background: $list-group-bg;
        border: 1px solid $border-color;
    }

    .col-12 {
        display: flex;
        flex-wrap: wrap;
    }
}

.set-section {
    margin: 0 -15px 1rem -15px;
    padding-left: 1rem;
    width: calc(100% + 30px);
    background: darken($blue, 8%);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    font-size: 1.1rem;

    small {
        padding-left: 5px;
        vertical-align: text-bottom;
        font-size: 80%;
        color: #c8c800;
        letter-spacing: 0.1em;
    }
}

.set-box {
    margin: 0 1rem 1rem 0;
    white-space: nowrap;

    .set-title {
        margin-bottom: .1rem;
        font-size: 1.05rem;
    }

    .set-item {
        display: inline-block;
        position: relative;

        a {
            color: $quality-0;

            img {
                box-sizing: content-box;
                border-style: solid;
                border-width: 2px;
            }
        }

        span {
            position: absolute;
            bottom: 2px;
            right: 2px;
            padding: 1px 2px 0;
            //font-family: $font- @font-number;
            color: #EEE;
            background: rgba(0, 0, 0, 0.65);
            line-height: 1;
        }

        & + .set-item {
            margin-left: -2px;
        }
    }

    .set-missing {
        a {
            img {
                opacity: 0.3;
            }
        }
    }
}
