<div class="panel panel-default">
  <div class="panel-body items-panel">
    <select class="form-control" id="items-realm">
    </select>
    <select class="form-control" id="items-character">
    </select>
    <div class="items-group">
      <h4>Bags <small id="items-bags-data"></small></h4>
      <div id="items-bags-bags"></div>
      <div id="items-bags"></div>
      <div class="clearfix"></div>
    </div>
    <div class="items-group">
      <h4>Bank <small id="items-bank-data"></small></h4>
      <div id="items-bank-bags"></div>
      <div id="items-bank"></div>
      <div class="clearfix"></div>
    </div>
    <div class="items-group">
      <h4>Reagent Bank <small id="items-reagent-data"></small></h4>
      <div id="items-reagent"></div>
      <div class="clearfix"></div>
    </div>
    <div class="items-group">
      <h4>Void Storage <small id="items-void-data"></small></h4>
      <div id="items-void"></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
