<table class="table table-condensed home-table reputations-table" style="width:auto">
  <colgroup></colgroup>
  {{#each data/reputations}}
    <colgroup class="colgroup-{{ mod2 @index }}" span="{{ arrayLen this }}"></colgroup>
  {{/each}}

  <tbody>
    {{#each realms}}
      {{#unless allHiddenLevel}}
        <tr class="realm-row">
          <td rel="tooltip" title="{{ name }}">{{ name }}</td>
          {{#each ../../data/reputations}}
            {{#each this}}
              <td class="reputations-icon">{{ reputationsIcon }}</td>
            {{/each}}
          {{/each}}
        </tr>
        {{#each characters}}
          {{#unless hiddenLevel}}
            <tr class="faction-{{ side }}">
              {{ characterName }}
              {{ reputationsReputations ../../../../data/reputations }}
            </tr>
          {{/unless}}
        {{/each}}
      {{/unless}}
    {{else}}
      <tr>
        <td>You don't appear to have any characters to show!</td>
      </tr>
    {{/each}}
  </tbody>
</table>
