<div class="achievements-summary">
    <div class="col-12">
        <div class="achievements-summary-box">
            <h5>Total Achievements</h5>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{ all_percent }}%"><span>{{ all_earned }} / {{ all_total }} ({{ all_percent }}%)</span></div>
            </div>
        </div>
    </div>
    {{#each categories}}
        <div class="col-xl-4 col-lg-6 col-12">
            <div class="achievements-summary-box">
                <h5>{{ name }}</h5>
                <div class="progress">
                    <div class="progress-bar {{ achievementSummaryBarStyle name }}" style="width: {{ _percent }}"><span>{{ _earned }} / {{ _total }} ({{ _percent }})</span></div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<div class="achievements">
    {{#each recent}}
        {{ achievementRecent }}
    {{/each}}
</div>
