<div class="panel panel-default">
  <div class="panel-body set-panel">
    <span class="button-checkbox">
      <button class="btn" data-color="success">Collected</button>
      <input id="transmog-collected" type="checkbox" class="hidden js-transmog-input" checked>
    </span>
    <span class="button-checkbox">
      <button class="btn" data-color="success">Not collected</button>
      <input id="transmog-not-collected" type="checkbox" class="hidden js-transmog-input" checked>
    </span>
    <div class="set-spacer"></div>
    <div class="transmog-selects">
      <span>Item type: </span><select id="transmog-class" class="form-control">
        <option value="Cloth">Cloth</option>
        <option value="Leather">Leather</option>
        <option value="Mail">Mail</option>
        <option value="Plate">Plate</option>
        <option value="Weapon">Weapon</option>
      </select>
      <select id="transmog-subclass" class="form-control"></select>
    </div>
    <div class="set-spacer"></div>
    <div id="transmog-inner" class="transmog-items"></div>
  </div>
</div>
