// SASS imports are annoying, ugh. We need these defined but before Bootstrap variables are loaded.
$gray-100:                          #f8f9fa !default;
$gray-200:                          #e9ecef !default;
$gray-300:                          #dee2e6 !default;
$gray-400:                          #ced4da !default;
$gray-500:                          #adb5bd !default;
$gray-600:                          #6c757d !default;
$gray-700:                          #495057 !default;
$gray-800:                          #343a40 !default;
$gray-900:                          #212529 !default;
$dark:                              $gray-900;

$blue:                              #003c79;
$green:                             #124c20;
$pink:                              #ff4fff;

// Colors
$alliance-color:                    #4a5ae8;
$horde-color:                       #e60d12;

$highlight-color:                   #00d400;
$warning-color:                     #ff2f00;

$quality-0:                         #9d9d9d; // poor
$quality-1:                         #dddddd; // common
$quality-2:                         darken(#1eff00, 12%); // uncommon
$quality-3:                         darken(#0070ff, 5%); // rare
$quality-4:                         #B237FF; // epic
$quality-5:                         darken(#ff8000, 8%); // legendary
$quality-6:                         darken(#e6cc80, 25%); // artifact
$quality-7:                         darken(#e6cc80, 25%); // heirloom

$icon-cancel:                       $warning-color;
$icon-ok:                           #00cf00;
$icon-plus:                         #fff;
$icon-star:                         #00cf00;
$icon-star-half:                    #d4e02f;

$tooltip-border-color:              $gray-700;


$main-offset-top:                   55px;

// Achievements
$achievement-spacing:               .15rem;



// Bootstrap settings
$enable-print-styles: false;
$enable-rounded:  false;

// Body
$body-bg:                           #111417;
$body-color:                        #dbdee0;
$font-family-sans-serif:            "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:                    0.9rem;
$link-color:                        #c9a942;

// Footer
$footer-bg:                         $gray-900;

// Misc
$border-color:                      $gray-700;
$code-font-size:                    100%;

// Cards
$card-bg:                           $gray-900;
$card-border-color:                 $border-color;

// Components?
$component-active-color:            $gray-100;

// Dropdowns
$dropdown-bg:                       $dark;
$dropdown-border-color:             $gray-700;
$dropdown-divider-bg:               $dropdown-border-color;
$dropdown-link-color:               $body-color;
$dropdown-link-hover-bg:            $blue;
$dropdown-link-hover-color:         $body-color;
$dropdown-item-padding-x:           .75rem;
$dropdown-item-padding-y:           .25rem;
$dropdown-padding-y:                0;//.35rem;
$dropdown-spacer:                   0;

// Forms
$input-bg:                          $gray-300;
$input-border-color:                $border-color;
$input-color:                       #000;
$input-disabled-bg:                 $gray-500;
$input-group-addon-bg:              $gray-800;

// List groups
$list-group-bg:                     $gray-900;
$list-group-border-color:           $border-color;
$list-group-hover-bg:               $gray-700;
$list-group-action-color:           $gray-300;
$list-group-action-hover-color:     $gray-300;
$list-group-active-border-color:    lighten($blue, 10%);
$list-group-item-padding-y:         .35rem;
$list-group-item-padding-x:         .7rem;

// Navbar
$navbar-padding-y:                  0.15rem;
$navbar-nav-link-padding-x:         .75rem;
$nav-divider-margin-y:              .25rem;

// Progress bars
$progress-bg:                       #181a1c;

// Tooltips
$tooltip-color:                     $body-color;
