{% extends "base.html" %}

{% block title %}Character Tags{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $.fn.editable.defaults.mode = 'inline';
  $('#tag-tbody a').editable({
    url: '/character_tags/edit/',
    type: 'text',
    params: "{csrfmiddlewaretoken:'{{ csrf_token }}'}",
    success: function(response, new_value) {
      var $tr = $(this).closest('tr');
      setTimeout(function() {
        var $span = $('td:last-child span:last-child', $tr);
        $span.text($('td:nth-child(3) a', $tr).text());
        $span.css({
          'color': '#' + $('td:nth-child(4) a', $tr).text(),
          'background': '#' + $('td:nth-child(5) a', $tr).text()
        });
      }, 1);
    },
  });
  // This stuff is also enforced server side, but might as well give early feedback
  $('.js-short').editable('option', 'validate', function(v) {
    if (v.length > 8) { return "Maximum 8 characters!"; }
  });
  $('.js-coour').editable('option', 'validate', function(v) {
    if (!v.match(/^[0-9A-Fa-f]{6}$/)) { return "Must be 6 hex characters!"; }
  });
</script>
{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-bordered" style="width: auto">
              <h2>Character Tags</h2>
              <p>You can use these tags to tag characters for whatever reason (I use it to mark which account characters are on). You can then
              do strange things like change how characters are grouped over in <a href="{% url 'home_redirect' %}#settings">Home->Settings</a>.</p>
              <p>Click the weird looking links to edit existing tags.</p>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Long Name</th>
                  <th>Short Name</th>
                  <th>Foreground</th>
                  <th>Background</th>
                  <th>Example</th>
                </tr>
              </thead>
              <tbody id="tag-tbody">
{% for tag in tags %}
                <tr data-id="{{ tag.id }}">
                  <td>{{ tag.id }}</td>
                  <td><a href="#" id="long_name" class="js-long" data-pk="{{ tag.id }}" data-title="Long name">{{ tag.long_name }}</a></td>
                  <td><a href="#" id="short_name" class="js-short" data-pk="{{ tag.id }}" data-title="Short name">{{ tag.short_name }}</a></td>
                  <td>#<a href="#" id="foreground_colour" class="js-colour" data-pk="{{ tag.id }}" data-title="Foreground colour">{{ tag.foreground_colour }}</a></td>
                  <td>#<a href="#" id="background_colour" class="js-colour" data-pk="{{ tag.id }}" data-title="Background colour">{{ tag.background_colour }}</a></td>
                  <td><span>Coolcharacter</span>&nbsp;&nbsp;<span class="character-tag" style="color: #{{ tag.foreground_colour }}; background: #{{ tag.background_colour }}">{{ tag.short_name }}</span></td>
                </tr>
{% empty %}
                <tr>
                  <td colspan="6">You haven't created any tags yet</td>
                </tr>
{% endfor %}
              </tbody>
            </table>
            
            <form class="form-inline" action="{% url 'character_tag_add' %}" method="POST">
              {% csrf_token %}
              <div class="form-group{% if long_name_error %} has-error{% endif %}">
                <input type="text" class="form-control" name="long_name" minlength="1" maxlength="64" placeholder="Descriptive text"{% if long_name %} value="{{ long_name }}"{% endif %}>
              </div>
              <div class="form-group{% if short_name_error %} has-error{% endif %}">
                <input type="text" class="form-control" name="short_name" style="width:7em" minlength="1" maxlength="8" placeholder="Tag text"{% if short_name %} value="{{ short_name }}"{% endif %}>
              </div>
              <div class="form-group{% if foreground_colour_error %} has-error{% endif %}">
                <input type="text" class="form-control" name="foreground_colour" style="width:7em" minlength="6" maxlength="6" placeholder="Foreground"{% if foreground_colour %} value="{{ foreground_colour }}"{% endif %}>
              </div>
              <div class="form-group{% if background_colour_error %} has-error{% endif %}">
                <input type="text" class="form-control" name="background_colour" style="width:7em" minlength="6" maxlength="6" placeholder="Background"{% if background_colour %}  value="{{ background_colour }}"{% endif %}>
              </div>
              <button type="submit" class="btn btn-success">Add</button>
            </form>
          </div>
        </div>
      </div>
{% endblock %}
